/*
* @Author: 程钦妍
* @Date:   2017-07-20 11:35:38
* @Last Modified by:   程钦妍
* @Last Modified time: 2017-07-20 18:12:21
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;
}
.logo{
	width: 2.09rem;
	height: 0.92rem;
	/* background: pink; */
	margin: 0 auto;
}
.logo1{
	width: 0.85rem;
	height: 0.92rem;
	/* background: greenyellow; */
	float: left;
	position: relative;
}
.logo2{
	width: 1.24rem;
	height: 0.92rem;
	/* background: yellow; */
	float: left;
	font-size: 0.35rem;
	color: white;
	text-align: center;
	line-height: 0.92rem;
}
.logo1 img{
	width: 0.7rem;
	height: 0.67rem;
	display: block;
	bottom: 0.1rem;
	position: absolute;
}
.chuangkou{
	width: 100%;
	height: 2.8rem;
	background: gray;
}
.chuangkou img{
	width: 100%;
	height: 2.8rem;
}
/* 导航 */
.daohang{
	width: 100%;
	height: 4.84rem;
	background: #f5f6fa;
}
.ddone{
	width: 25%;
	height: 2.14rem;
	/* background: orange; */
	float: left;
	padding-top: 0.28rem;
}
.ddone1{
	width: 1.58rem;
	height: 1.28rem;
	background: white;
	border-radius: 20%;
	margin-left: 0.19rem;
	padding-top: 0.3rem;
}
.ddone1 img{
	width: 0.95rem;
	height: 0.98rem;
	display: block;
	margin: 0 auto;
}
.ddonewz{
	width: 1.88rem;
	height: 0.56rem;
	/* background: yellow; */
	font-size: 0.22rem;
	color: #000;
	text-align: center;
	line-height: 0.56rem; 
}
/* 服务体系 */
.fuwu{
	width: 100%;
	height: 4.21rem;
	background: white;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.fw-top{
	width: 100%;
	height: 0.64rem;
	/* background: orange; */
}
.fw-right{
	width: 100%;
	height: 3.57rem;
	border-top: 1px solid #f0f0f0;
	/* background: green; */
}
.fw-top-wz{
	width: 1.3rem;
	height: 0.64rem;
	/* background: pink; */
	margin: 0 auto;
	font-size: 0.22rem;
	color: #0377bc;
	text-align: center;
	line-height: 0.64rem;
}
.fw-right-top{
	width: 100%;
	height: 2.21rem;
	/* background: gray; */
}
.fw-right-bottom{
	width: 100%;
	height: 1.36rem;
	/* background: gold; */
	border-bottom: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.fw-right-top1,.fw-right-top2{
	width: 50%;
	height: 2.21rem;
	/* background: pink; */
	float: left;
}
.fw-right-top1{
	border-right: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.fw-right-bottom1,.fw-right-bottom2,.fw-right-bottom3{
	width: 33.3%;
	height: 1.36rem;
	/* background: yellow; */
	float: left;
}
.fw-right-bottom1,.fw-right-bottom2{
	border-right: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.fw-mf{
	width: 1.21rem;
	height: 0.76rem;
	/* background: yellow; */
	margin-top: 0.29rem;
	margin-left: 0.12rem;
	float: left;
}
.fw-tu{
	width: 1.32rem;
	height: 1.32rem;
	/* background: green; */
	float: left;
	margin-left: 0.9rem;
	margin-top: 0.29rem;
}
.fw-tu img{
	width: 1.32rem;
	height: 1.32rem;
	margin: 0 auto;
}
.fw-mf1{
	width: 1.21rem;
	height: 0.38rem;
	/* background: white; */
}
.fw-mf1 a{
	color: #000;
}
.fw-mf2{
	width: 1.7rem;
	height: 0.38rem;
	/* background: white; */
}
.fw-mf1{
	font-size: 0.24rem;
	color: #000;
}
.fw-mf1 a{
	color: #000;
}
.fw-mf2{
	font-size: 0.18rem;
	color: gray;
}
.fw-mf2 a{
	color: gray;
}
.fw-right-bottom11{
	width: 0.65rem;
	height: 0.64rem;
	/* background: white; */
	margin-top: 0.37rem;
	margin-left: 0.05rem;
	float: left;
}
.fw-right-bottom11 a img{
	width: 0.6rem;
	height: 0.61rem;
	margin-bottom: 1rem;
}
.fw-right-bottom12{
	width: 1.27rem;
	height: 0.71rem;
	/* background: red; */
	float: left;
	margin-top: 0.37rem;
	margin-left: 0.19rem;
}
.fw-right-wz1,.fw-right-wz2{
	width: 1.4rem;
	height: 0.34rem;
	/* background: white; */
	float: left;
}
.fw-right-wz1{
	font-size: 0.22rem;
	color: #000;
}
.fw-right-wz1 a{
	color: #000;
}
.fw-right-wz2{
	font-size: 0.18rem;
	color: gray;
}
.fw-right-wz2 a{
	color: gray;
}
/* 尾部 */
.weibu{
	width: 100%;
	height: 1.43rem;
	background: #f5f6fa;
}
.wb-top{
	width: 100%;
	height: 0.24rem;
	background: #f5f6fa; 
}
.wb-bottom{
	width: 100rem;
	height: 0.79rem;
	background: white;
}
.wb-bottom1,.wb-bottom3{
	width: 2.57rem;
	height:0.79rem;
	/* background: gray; */
	float: left;
}
.wb-bottom2{
	width: 2.37rem;
	height: 0.79rem;
	background: #ff7e00;
	border-radius: 10%;
	float: left;
	position: relative;
	box-shadow:0.01rem 0.01rem 0.05rem 0.01rem #ffd3ae inset;
}
.wb-bottom11{
	width: 0.46rem;
	height: 0.39rem;
	/* background: white; */
	float: left;
	margin-left: 0.18rem;
	margin-top: 0.22rem;
}
.wb-bottom11 img{
	width: 0.31rem;
	height: 0.31rem;
	margin-bottom: 0.82rem;
}
.wb-bottom12{
	width: 1.26rem;
	height: 0.39rem;
	/* background: green; */
	float: left;
	margin-top: 0.22rem;
	font-size: 0.22rem;
}
.wb-bottom12 a{
	color: #000;
}
.wb-bottom121 a{
	color: white;
	font-size: 0.22rem;
	position: absolute;
	margin-top: 0.22rem;
	font-weight: bold;
}