/*
* @Author: 程钦妍
* @Date:   2017-07-21 17:00:14
* @Last Modified by:   程钦妍
* @Last Modified time: 2017-07-22 09:59:02
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;
}
.logo{
	width: 2.09rem;
	height: 0.92rem;
	/* background: pink; */
	margin: 0 auto;
}
.logo1{
	width: 0.85rem;
	height: 0.92rem;
	/* background: greenyellow; */
	float: left;
	position: relative;
}
.logo2{
	width: 1.24rem;
	height: 0.92rem;
	/* background: yellow; */
	float: left;
	font-size: 0.35rem;
	color: white;
	text-align: center;
	line-height: 0.92rem;
}
.logo1 img{
	width: 0.7rem;
	height: 0.67rem;
	display: block;
	bottom: 0.1rem;
	position: absolute;
}
.chuangkou{
	width: 100%;
	height: 2.8rem;
	background: gray;
}
.chuangkou img{
	width: 100%;
	height: 2.8rem;
}
/* 首页 */
.shouye{
	width: 100%;
	height: 15.63rem;
	background: #f5f6fa;
}
.sytop{
	width: 7.5rem;
	height: 0.56rem;
	background: #f5f6fa;
	padding-top: 0.29rem;
}
.top-wz{
	width: 2.5rem;
	height: 0.38rem;
	/* background: pink; */
	margin-left: 0.24rem;
	font-size: 0.22rem;
	color: #000;
	margin-bottom: 0.21rem;
}
.sybottom{
	width: 6.98rem;
	height: 0.76rem;
	/* background: orange; */
	margin-left: 0.24rem;
	border-radius: 0.15rem;
	border: 2px solid #01b5ff;
}
.sy-kk1{
	width: 2.55rem;
	height: 0.76rem;
	background: #01b5ff;
	float: left;
	font-size: 0.22rem;
	line-height: 0.76rem;
	text-align: center;
}
.sy-kk1 a{
	color: #fff;
}
.sy-kk2{
	width: 1.86rem;
	height: 0.76rem;
	/* background: gold; */
	float: left;
	font-size: 0.22rem;
	line-height: 0.76rem;
	margin-left: 0.05rem;
}
.sy-kk2 a{
	color: #000;
}
.sy-kk3{
	width: 2.5rem;
	height: 0.76rem;
	/* background: #01b5ff; */
	float: left;
	font-size: 0.22rem;
	line-height: 0.76rem;
	text-align: center;
}
.sy-kk3 a{
	color: #000;
}
.sanjiao{
	width: 0;
	height: 0;
	border-top: 0.15rem solid #01b5ff;
	border-bottom: 0.15rem solid transparent;
	border-left: 0.15rem solid transparent;
	border-right: 0.15rem solid transparent;
	margin-left: 1.45rem;
}
.jpbottom{
	width: 100%;
	height: 13.91rem;
	background: #f5f6fa;
}
.jpbottom1{
	width: 7.05rem;
	height: 2.5rem;
	/* background: white; */
	margin: 0 auto;
	border-bottom: 0.10rem;
	padding-top: 0.21rem;
}
.jpbottom1tu{
	width: 2.3rem;
	height: 2.3rem;
	/* background: yellowgreen; */
	margin-left: 0.16rem;
	float: left;
	border-radius: 0.2rem;
}
.jpbottom1tu img{
	width: 2.3rem;
	height: 2.3rem;
}
.jpzi{
	width: 4.3rem;
	height: 2.3rem;
	/* background: gold; */
	float: left;
	margin-left: 0.24rem;
}
.jpzi1,.jpzi2,.jpzi3,.jpzi4,.jpzi5{
	width: 4.24rem;
	height: 0.42rem;
	/* background: green; */
}
.jpzi2{
	margin-bottom: 0.09rem;
	font-size: 0.22rem;
	color: #01b5ff;
	line-height: 0.42rem;
}
.jpzi1{
	margin-top: 0.12rem;

}
.jpzi11,.jpzi12{
	width: 1.49rem;
	height: 0.42rem;
	/* background: white; */
}
.jpzi11{
	float: left;
	font-size: 0.22rem;
	color: #000;
	line-height: 0.42rem;
}
.jpzi12{
	float: right;
	font-size: 0.22rem;
	color: orange;
	line-height: 0.42rem;
}
.jpzi12 a{
	color: orange;
}
.jpzi3,.jpzi4,.jpzi5{
	font-size: 0.22rem;
	color: gray;
	line-height: 0.42rem;
}
/* 尾部 */
.weibu{
	width: 100%;
	height:1.58rem;
	background: white; 
}
.wb-top{
	width: 100%;
	height: 0.55rem;
	background: white;
	padding-top: 0.14rem;
}
.wb-bottom{
	width: 100%;
	height: 0.78rem;
	background: #f5f6fa;
	padding-top: 0.15rem;
}
.wb-bottom1{
	width: 7rem;
	height: 0.34rem;
	/* background: pink; */
	margin: 0 auto;
}
.wb-bottom2{
	width: 6.3rem;
	height: 0.34rem;
	/* background: pink; */
	margin: 0 auto;
}
.wb-bottom1,.wb-bottom2{
	font-size: 0.19rem;
	color: gray;
}
.icon{
	width: 7.3rem;
	height: 0.64rem;
	/* background: pink; */
	margin-left: 0.27rem;
	position: relative;
}
li{
	/* width: 0.32rem; */
	height: 0.32rem;
	/* background: green; */
	float: left;
	margin-right: 0.1rem;
}
.jiantou img{
	width: 0.62rem;
	height: 0.31rem;
	display: block;
}
.xuhao img{
	width: 0.32rem;
	height: 0.32rem;
	display: block;
}
.wenzi1{
	width: 0.4rem;
	height: 0.21rem;
	float: left;
	font-size: 0.14rem;
	color: #000;
}
.wenzi{
	width: 0.9rem;
	height: 0.21rem;
	float: left;
	font-size: 0.14rem;
	color: #000;
}
.wenzi a{
	color: #000;
}
.wenzi1 a{
	color: #000;
}