/*
* @Author: 程钦妍
* @Date:   2017-07-22 11:48:21
* @Last Modified by:   程钦妍
* @Last Modified time: 2017-07-22 16:34:57
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;
}
.logo{
	width: 2.09rem;
	height: 0.92rem;
	/* background: pink; */
	margin: 0 auto;
}
.logo1{
	width: 0.85rem;
	height: 0.92rem;
	/* background: greenyellow; */
	float: left;
	position: relative;
}
.logo2{
	width: 1.24rem;
	height: 0.92rem;
	/* background: yellow; */
	float: left;
	font-size: 0.35rem;
	color: white;
	text-align: center;
	line-height: 0.92rem;
}
.logo1 img{
	width: 0.7rem;
	height: 0.67rem;
	display: block;
	bottom: 0.1rem;
	position: absolute;
}
.chuangkou{
	width: 100%;
	height: 2.8rem;
	background: gray;
}
.chuangkou img{
	width: 100%;
	height: 2.8rem;
}
/* 首页 */
.shouye{
	width: 100%;
	height: 10.96rem;
	background: #f5f6fa;
}
.sytop{
	width: 7.5rem;
	height: 0.56rem;
	background: #f5f6fa;
	padding-top: 0.29rem;
}
.top-wz{
	width: 2.5rem;
	height: 0.38rem;
	/* background: pink; */
	margin-left: 0.24rem;
	font-size: 0.22rem;
	color: #000;
	margin-bottom: 0.21rem;
}
.sybottom{
	width: 7.5rem;
	height: 10.14rem;
	background: white;
}
.mt1{
	width: 7.5rem;
	height: 3.36rem;
	/* background:orange; */
	border-bottom:  0.03rem solid #f5f6fa; 
}
.mt1-top{
	width: 3.56rem;
	height: 0.65rem;
	/* background: gray; */
	margin-left: 0.24rem;
	font-size: 0.26rem;
	color: #000;
	line-height: 0.65rem;
	font-weight: bold;
}
.mt1-mid{
	width: 7.27rem;
	height: 1.61rem;
	/* background: gray; */
	margin-left: 0.24rem;
	margin-bottom: 0.2rem;
}
.mt1-mid1{
	width: 2.17rem;
	height: 1.61rem;
	/* background: gold; */
	float: left;
}
.mt1-mid11{
	width: 1.92rem;
	height: 1.44rem;
	/* background: #01b5ff; */
	border: 0.01rem solid #01b5ff;
	margin-left: 0.14rem;
}
.mt1-mid12{
	width: 1.92rem;
	height: 1.44rem;
	background: #c8c8c8;
	margin-top: -1.34rem;
}
.mt1-mid2{
	width: 5.09rem;
	height: 1.61rem;
	/* background: green; */
	float: left;
	font-size: 0.22rem;
	color: gray;
}
.mt1-bottom{
	width: 7.2rem;
	height: 0.6rem;
	margin: 0 auto;
	/* background: gray; */
	border-top: 0.01rem solid #d2d2d2;
	border-bottom: 0.01rem solid #d2d2d2;
}
.mt1-bottom1{
	width: 1.74rem;
	height: 0.48rem;
	/* background: yellowgreen; */
	margin-right: 0.29rem;
	float: left;
	padding-top: 0.12rem;
}
.mt1-bottom2,.mt1-bottom3{
	width: 2.5rem;
	height: 0.48rem;
	/* background: yellowgreen; */
	float: left;
	margin-right: 0.15rem;
	padding-top: 0.12rem;
	position: relative;
}
.mt1-bottom3{
	margin-right: 0rem;
}
.mt1-bottom11{
	width: 0.39rem;
	height: 0.39rem;
	/* background: greenyellow; */
	float: left;
	position: relative;
}
.mt1-bottom11 img{
	width: 0.39rem;
	height: 0.39rem;
	position: absolute;
}
.mt1-bottom12{
	width: 1.31rem;
	height: 0.39rem;
	/* background: orange; */
	float: left;
	font-size: 0.16rem;
	color: #666666;
}
.mt1-bottom22{
	width: 2.2rem;
	height: 0.39rem;
	/* background: orange; */
	font-size: 0.16rem;
	color: #666666;
	position: absolute;
	margin-left: 0.39rem;
}
/* 尾部 */
.weibu{
	width: 100%;
	height:1.58rem;
	background: white; 
}
.wb-top{
	width: 100%;
	height: 0.55rem;
	background: white;
	padding-top: 0.14rem;
}
.wb-bottom{
	width: 100%;
	height: 0.78rem;
	background: #f5f6fa;
	padding-top: 0.15rem;
}
.wb-bottom1{
	width: 7rem;
	height: 0.34rem;
	/* background: pink; */
	margin: 0 auto;
}
.wb-bottom2{
	width: 6.3rem;
	height: 0.34rem;
	/* background: pink; */
	margin: 0 auto;
}
.wb-bottom1,.wb-bottom2{
	font-size: 0.19rem;
	color: gray;
}
.icon{
	width: 7.3rem;
	height: 0.64rem;
	/* background: pink; */
	margin-left: 0.27rem;
	position: relative;
}
li{
	/* width: 0.32rem; */
	height: 0.32rem;
	/* background: green; */
	float: left;
	margin-right: 0.1rem;
}
.jiantou img{
	width: 0.62rem;
	height: 0.31rem;
	display: block;
}
.xuhao img{
	width: 0.32rem;
	height: 0.32rem;
	display: block;
}
.wenzi1{
	width: 0.4rem;
	height: 0.21rem;
	float: left;
	font-size: 0.14rem;
	color: #000;
}
.wenzi{
	width: 0.9rem;
	height: 0.21rem;
	float: left;
	font-size: 0.14rem;
	color: #000;
}
.wenzi a{
	color: #000;
}
.wenzi1 a{
	color: #000;
}